version: 2.1

orbs:
  node: circleci/node@5.1.0

node-image: &node-image
  image: cimg/node:18.13.0
  auth:
    username: $DOCKERHUB_USERNAME
    password: $DOCKERHUB_ACCESS_TOKEN

workflows:
  version: 2
  workflow:
    jobs:
      - build:
          context:
            - npm-readonly
            - github
            - dockerhub
      - validate-code:
          context:
            - npm-readonly
            - dockerhub
      - publish:
          context:
            - npm-publish
            - github
            - dockerhub
          requires:
            - build
          filters:
            branches:
              only:
                - main
      - chromatic:
          context:
            - npm-readonly
            - dockerhub

commands:
  bootstrap:
    steps:
      - checkout
      - run:
          name: Login in NPM
          command: 'echo "npmAuthToken: $NPM_TOKEN" >> ${HOME}/.yarnrc.yml'
      - node/install-packages:
          pkg-manager: yarn-berry
          include-branch-in-cache-key: false

jobs:
  build:
    resource_class: "xlarge"
    docker:
      - <<: *node-image
    steps:
      - bootstrap
      - run: yarn build
      - run: yarn test

  validate-code:
    docker:
      - <<: *node-image
    steps:
      - bootstrap
      - restore_cache:
          name: Restore ESLint Cache
          keys:
            - eslint-cache-{{ .Branch }}
            # If this branch doesn't have a warm cache yet, fall back to main to try to speed up the initial build
            - eslint-cache-main
      - run:
          name: Run ESLint
          command: yarn lint --cache --cache-location .eslintcache --quiet
      - save_cache:
          name: Save ESLint Cache
          key: eslint-cache-{{ .Branch }}
          paths:
            - .eslintcache

  publish:
    resource_class: "xlarge"
    docker:
      - <<: *node-image
    steps:
      - bootstrap
      - run: yarn semantic-release

  chromatic:
    resource_class: "xlarge"
    parameters:
      flags:
        type: string
        default: ""
    docker:
      - <<: *node-image
    working_directory: ~/project
    steps:
      - bootstrap
      - when:
          condition:
            equal: [main, <<pipeline.git.branch>>]
          steps:
            - run: yarn chromatic --auto-accept-changes
      - when:
          condition:
            not:
              equal: [main, <<pipeline.git.branch>>]
          steps:
            - run: yarn chromatic
